body{
  background-color: black;
  color: white;
}

h2{
  color: green;
  font size: 3em;
}



.grid-container{
    display: grid;
    grid-gap: 50px;
}

h1 {
  font-size: 5em;
  background: gold;
  margin:
    


    
 
    
